.header {
    display: flex;
    background-color: rgb(15, 15, 112);
    color: white;
    align-items: flex-end;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 30;
    gap: 20px;
    padding: 10px 20px
}

.header h4 {
    font-size: 1.3rem;
}


/* .img-div {
    width: 24%;
    max-width: 100px;
}

.img-div img {
    width: 100%;
} */

@media(min-width:880px) {

    .header{
        padding: 15px 80px;
    }
    .header h4 {
        font-size: 1.8rem;
    }

    /* .img-div {
        width: 8%;
        max-width: 160px;
    }
    
    .img-div img {
        width: 100%;
    } */
}

@media(min-width:1280px) {

    .header{
        padding: 15px 150px;
    }
    .header h4 {
        font-size: 2.0rem;
    }

}